<h1>Stupid Coaching</h1>
  <h4>Ask your coach anything:</h4>
  <h2><%= @question %></h2>
  <h3> - Me </h3>
<br>
  <h2><%= @answer %></h2>
    <h3> - Your Coach</h3>
<br>
<br>
<button type="button" class="btn btn-warning"><%= link_to "Ask a new question", ask_path %></button>
